# Question 1

In [1]:
import numpy as np 
import pandas as pd 
import requests

In [8]:
#reading URl into list
dfweb2=pd.read_html("http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", match='.+', flavor=None, header=0, index_col=None)

In [74]:
#list loaded
dfweb2[0]

,Postcode,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Harbourfront
5,M6A,North York,Lawrence Heights
6,M6A,North York,Lawrence Manor
7,M7A,Downtown Toronto,Queen's Park
8,M8A,Not assigned,Not assigned
9,M9A,Queen's Park,Not assigned
10,M1B,Scarborough,Rouge
11,M1B,Scarborough,Malvern
12,M2B,Not assigned,Not assigned
13,M3B,North York,Don Mills North
14,M4B,East York,Woodbine Gardens
15,M4B,East York,Parkview Hill
16,M5B,Downtown Toronto,Ryerson
17,M5B,Downtown Toronto,Garden District
18,M6B,North York,Glencairn
19,M7B,Not assigned,Not assigned
20,M8B,Not assigned,Not assigned
21,M9B,Etobicoke,Cloverdale
22,M9B,Etobicoke,Islington
23,M9B,Etobicoke,Martin Grove
24,M9B,Etobicoke,Princess Gardens
25,M9B,Etobicoke,West Deane Park
26,M1C,Scarborough,Highland Creek
27,M1C,Scarborough,Rouge Hill
28,M1C,Scarborough,Port Union
29,M2C,Not assigned,Not assigned
...,...,...,...
257,M9X,Not assigned,Not assigned
258,M1Y,Not assigned,Not assigned
259,M2Y,Not assigned,Not assigned
260,M3Y,Not assigned,Not assigned
261,M4Y,Downtown Toronto,Church and Wellesley
262,M5Y,Not assigned,Not assigned
263,M6Y,Not assigned,Not assigned
264,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
265,M8Y,Etobicoke,Humber Bay
266,M8Y,Etobicoke,King's Mill Park
267,M8Y,Etobicoke,Kingsway Park South East
268,M8Y,Etobicoke,Mimico NE
269,M8Y,Etobicoke,Old Mill South
270,M8Y,Etobicoke,The Queensway East
271,M8Y,Etobicoke,Royal York South East
272,M8Y,Etobicoke,Sunnylea
273,M9Y,Not assigned,Not assigned
274,M1Z,Not assigned,Not assigned
275,M2Z,Not assigned,Not assigned
276,M3Z,Not assigned,Not assigned
277,M4Z,Not assigned,Not assigned
278,M5Z,Not assigned,Not assigned
279,M6Z,Not assigned,Not assigned
280,M7Z,Not assigned,Not assigned
281,M8Z,Etobicoke,Kingsway Park South West
282,M8Z,Etobicoke,Mimico NW
283,M8Z,Etobicoke,The Queensway West
284,M8Z,Etobicoke,Royal York South West
285,M8Z,Etobicoke,South of Bloor
286,M9Z,Not assigned,Not assigned

In [75]:
#loading list into dataframe
dfnew4 =pd.DataFrame(dfweb2[0])

In [79]:
dfnew4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 3 columns):
Postcode         287 non-null object
Borough          287 non-null object
Neighbourhood    287 non-null object
dtypes: object(3)
memory usage: 6.8+ KB

In [85]:
dfnew4.head(10)

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor
7        M7A  Downtown Toronto      Queen's Park
8        M8A      Not assigned      Not assigned
9        M9A      Queen's Park      Not assigned

In [84]:
dfnew4.rename(columns = {'Postcode':'PostalCode'}, inplace = True)

In [87]:
#removing Borough which are not assigned
dfnew4.drop(dfnew4[dfnew4['Borough']=="Not assigned"].index,axis=0, inplace=True)
dfnew4.head()

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

In [88]:
dfnew5 = dfnew4.reset_index()
dfnew5.head()

   index PostalCode           Borough     Neighbourhood
0      2        M3A        North York         Parkwoods
1      3        M4A        North York  Victoria Village
2      4        M5A  Downtown Toronto      Harbourfront
3      5        M6A        North York  Lawrence Heights
4      6        M6A        North York    Lawrence Manor

In [89]:
dfnew5.shape

(210, 4)

In [90]:
#combining neighbourhood with postal code
dfnew6=dfnew5.groupby('PostalCode').agg(lambda x: ','.join(x))
dfnew6.head()

,Borough,Neighbourhood
PostalCode,,
M1B,"Scarborough,Scarborough","Rouge,Malvern"
M1C,"Scarborough,Scarborough,Scarborough","Highland Creek,Rouge Hill,Port Union"
M1E,"Scarborough,Scarborough,Scarborough","Guildwood,Morningside,West Hill"
M1G,Scarborough,Woburn
M1H,Scarborough,Cedarbrae

In [91]:
#assigning borough to neighbourhood which are not assigned
dfnew6.loc[dfnew6['Neighbourhood']=="Not assigned",'Neighbourhood']=dfnew6.loc[dfnew6['Neighbourhood']=="Not assigned",'Borough']

In [92]:
dfnew6.head()

,Borough,Neighbourhood
PostalCode,,
M1B,"Scarborough,Scarborough","Rouge,Malvern"
M1C,"Scarborough,Scarborough,Scarborough","Highland Creek,Rouge Hill,Port Union"
M1E,"Scarborough,Scarborough,Scarborough","Guildwood,Morningside,West Hill"
M1G,Scarborough,Woburn
M1H,Scarborough,Cedarbrae

In [93]:
dfnew8 = dfnew6.reset_index()
dfnew8.head()

,PostalCode,Borough,Neighbourhood
0,M1B,"Scarborough,Scarborough","Rouge,Malvern"
1,M1C,"Scarborough,Scarborough,Scarborough","Highland Creek,Rouge Hill,Port Union"
2,M1E,"Scarborough,Scarborough,Scarborough","Guildwood,Morningside,West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae

In [94]:
dfnew8['Borough']= dfnew8['Borough'].str.replace('nan|[{}\s]','').str.split(',').apply(set).str.join(',').str.strip(',').str.replace(",{2,}",",")

In [95]:
dfnew8.head()

  PostalCode      Borough                         Neighbourhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [96]:
dfnew8.shape

(103, 3)

In [97]:
dfnew8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
PostalCode       103 non-null object
Borough          103 non-null object
Neighbourhood    103 non-null object
dtypes: object(3)
memory usage: 2.5+ KB

# Question 2

In [111]:
#reading location into dataframe
dflocation=pd.read_csv("http://cocl.us/Geospatial_data", header=0, index_col=None)

In [116]:
dflocation.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [115]:
dflocation.rename(columns = {'Postal Code':'PostalCode'}, inplace = True)

In [117]:
#merge both tuples
new1=pd.merge(dfnew8, dflocation, on="PostalCode")

In [118]:
new1.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [119]:
new1.shape

(103, 5)